/* Search Input */
.search-input {
  @apply px-3 py-2 text-sm rounded-lg bg-white text-gray-800 placeholder-gray-400 border-2 focus:outline-none transition-colors;
}

.search-input-valid {
  @apply border-gray-200 focus:border-blue-500;
}

.search-input-error {
  @apply border-red-400 focus:border-red-500;
}
